<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Wir stellen Ihnen Ihre neue Webseite einfach und schnell durch fertige aber individualisierbare Themes zur Verfügung. Benutzerfreundlich, modern und kosteneffizient!">
    <meta name="author" content="Haubold Media">

    <meta name="robots" content="index,follow">

    <title>Haubold Media • Kompetent im Bereich der Digitalisierung</title>

    {% block fonts %}
        {% include "fonts.html.twig" %}
    {% endblock %}

    {% block stylesheets %}
        <script type="text/javascript" src="{{ theme.link }}/js/fontawesome-all.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ theme.link }}/css/pro3.min.css?ver=1.0.1">
        <link rel="stylesheet" type="text/css" href="{{ theme.link }}/css/magnific-popup.min.css">
        <link rel="stylesheet" type="text/css" href="{{ theme.link }}/css/slider.min.css">
        <link rel="stylesheet" type="text/css" href="{{ theme.link }}/css/fewo.min.css">
        <link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
    {% endblock %}



    {% block head %}{% endblock %}
    {{ function('wp_head') }}
</head>
<body>

{% block navbar %}
    {% include 'menu.twig' %}
{% endblock %}

<div class="content">
    {% block body %}{% endblock %}
</div>

{% block footer %}
    {% include 'footer.html.twig' %}
{% endblock %}

{% block jsIncludes %}
    <script type="text/javascript" src="{{ theme.link }}/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{{ theme.link }}/js/jquery-migrate-1.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <script type="text/javascript" src="{{ theme.link }}/js/jssor.slider-26.1.5.min.js"></script>
    <script type="text/javascript" src="{{ theme.link }}/js/slider.min.js"></script>
    <script type="text/javascript" src="{{ theme.link }}/js/magnific-popup.min.js"></script>


    <script type="text/javascript" src="{{ theme.link }}/js/pro3.min.js"></script>
{% endblock %}

{{ function('wp_footer') }}
</body>
</html>